.piano-keys {
  position: relative;
  background: orange;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr 2fr;
  margin: 2rem;

  &_black {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    margin-bottom: -20rem;
    justify-self: center;
    button {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: black;
      margin-left: 3rem;
      z-index: 1;
      &:active {
        background-color: rgb(41, 41, 41);
        box-shadow: 0px 0px 10px rgb(199, 198, 198) inset;
      }
    }
  }

  &_white {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    button {
      height: 100%;
      width: 100%;
      &:active {
       box-shadow: 0px 0px 50px 5px rgba(1, 1, 1, 0.429) inset;
      }
    }
  }
}

#black-1 {
  grid-column: 2/3;
}
#black-2 {
  grid-column: 4/5;
}
#black-3 {
  grid-column: 8/9;
}
#black-4 {
  grid-column: 10/11;
}
#black-5 {
  grid-column: 12/13;
}
